@import "tailwindcss";

:root {
  --foreground: #171717;
  --background: #ffffff;
  --base-padding: 1.25rem; /* 16px - mobile */
  --brand-teal: oklch(0.277 0.046 192.524); /* teal-950 – dark base */
  --brand-teal-light: oklch(0.386 0.063 188.416); /* teal-900  – hover/button */
  --brand-orange: oklch(0.646 0.222 41.116); /* orange-600 – main accent */
  --brand-orange-light: oklch(0.705 0.213 47.604); /* orange-500 – hover */
  --brand-gray: oklch(0.446 0.03 256.802); /* gray-600 – subtitle text */
  --brand-gray-light: oklch(0.707 0.022 261.325); /* gray-400 – light text */
  --brand-gray-dark: oklch(0.278 0.033 256.848); /* gray-800 – main text */
  --brand-gray-bg: oklch(0.967 0.003 264.542); /* gray-100 – backgrounds */
}

@media (min-width: 640px) {
  :root {
    --base-padding: 2.5rem; /* 40px - tablet */
  }
}

@media (min-width: 1024px) {
  :root {
    --base-padding: 4.5rem; /* 80px - desktop */
  }
}

.base-padding {
  padding-left: var(--base-padding);
  padding-right: var(--base-padding);
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-brand-teal: var(--brand-teal);
  --color-brand-teal-light: var(--brand-teal-light);
  --color-brand-orange: var(--brand-orange);
  --color-brand-orange-light: var(--brand-orange-light);
  --color-brand-gray: var(--brand-gray);
  --color-brand-gray-light: var(--brand-gray-light);
  --color-brand-gray-dark: var(--brand-gray-dark);
  --color-brand-gray-bg: var(--brand-gray-bg);
}

html {
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-poppins);
  }
}
