@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: oklch(0.277 0.046 192.524); /* teal-950 */
  --bt-primary: oklch(0.646 0.222 41.116); /* orange-600 */
  --bt-primary-hover: oklch(0.705 0.213 47.604); /* orange-500 */
  --bt-secondary: oklch(0.277 0.046 192.524); /* teal-950 */
  --bt-secondary-hover: oklch(0.386 0.063 188.416); /* teal-900 */
  --tx-hyperlink: oklch(0.705 0.213 47.604); /* orange-500 */
  --tx-hyperlink-hover: oklch(0.386 0.063 188.416); /* teal-900 */
  --tx-primary: oklch(0.278 0.033 256.848); /* gray-800 */
  --tx-secondary: oklch(0.551 0.027 264.364); /* gray-500 */
  --tx-theme: oklch(0.277 0.046 192.524); /* teal-950 */
  --base-padding: 1rem; /* 16px - mobile */
}

@media (min-width: 640px) {
  :root {
    --base-padding: 2.5rem; /* 40px - tablet */
  }
}

@media (min-width: 1024px) {
  :root {
    --base-padding: 4.5rem; /* 80px - desktop */
  }
}

.base-padding {
  padding-left: var(--base-padding);
  padding-right: var(--base-padding);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-bt-primary: var(--bt-primary);
  --color-bt-primary-hover: var(--bt-primary-hover);
  --color-bt-secondary: var(--bt-secondary);
  --color-bt-secondary-hover: var(--bt-secondary-hover);
  --color-tx-hyperlink: var(--tx-hyperlink);
  --color-tx-hyperlink-hover: var(--tx-hyperlink-hover);
  --color-tx-primary: var(--tx-primary);
  --color-tx-secondary: var(--tx-secondary);
  --color-tx-theme: var(--tx-theme);
}

html {
  font-size: 16px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-poppins);
  }
}
