@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #022c22; /* emerald-950 */
  --secondary: #9333ea; /* purple-600 */
  --base-padding: 1rem; /* 16px - mobile */
}

@media (min-width: 640px) {
  :root {
    --base-padding: 2.5rem; /* 40px - tablet */
  }
}

@media (min-width: 1024px) {
  :root {
    --base-padding: 5rem; /* 80px - desktop */
  }
}

.base-padding {
  padding-left: var(--base-padding);
  padding-right: var(--base-padding);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-poppins);
  }
}
